<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
</head>
<nav>
    <ul id="main-nav" class="nav">
          <li><a href="/">Inicio</a> </li>
          <li><a href="/clientes">Clientes</a> 
          <li><a href="/secretarias">Secretarias</a>
    </ul>

</nav>
<body>
    <form action="/login_cliente" method="POST">
        <input type="int" placeholder="Ingrese su cedula" id="cedula" name="cedula"><br>
        <input type="int" placeholder="Ingrese su contraseña" id="contraseña" name="contraseña"><br>
        <input type="submit" value="Ingresar">
    </form>
    <span>{{isLogged}}</span>
    {% if error %}
        <span>{{error}}</span>
    {% endif %}

    {% if citas %}
    <table class="mdc-data-table__table" aria-label="Dessert calories">
        <thead>
          <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ID</th>
            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Fecha</th>
            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Hora</th>
            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Zona</th>
            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Duración</th>
          </tr>
        </thead>
        <tbody class="mdc-data-table__content">
            {% for item in citas %}
                <tr class="mdc-data-table__row">
                    <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{item.id}}</td>
                    <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{item.fecha}}</td>
                    <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{item.hora}}</td>
                    <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{item.zona}}</td>
                    <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{item.duracion}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      {% endif %}
</body>
</html>
