<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
  <title>Clientes</title>
</head>
<nav>
  <ul id="main-nav" class="nav">
    <li><a href="/">Inicio</a> </li>
    <li><a href="/clientes">Clientes</a>
    <li><a href="/secretarias">Secretarias</a>
  </ul>

</nav>

<body>
  <form action="/login_cliente" method="POST">
    <h3>Inicio de sesión</h3>
    <label class="Title-login">Digite su cédula: </label><br>
    <input type="int" placeholder="Ingrese su cedula" id="cedula" name="cedula" required><br>
    <label class="Title-login">Digite su contraseña:</label><br>
    <input type="int" placeholder="Ingrese su contraseña" id="contraseña" name="contraseña" required><br>
    <input type="submit" value="Ingresar">
  </form>
  <button id="btnRegistro" onclick="registro()">Registrar</button>
  {% if error %}
  <span>{{error}}</span>
  {% endif %}
  {% if isLogged %}
  <h3>Citas
    <div class="mdc-touch-target-wrapper">
      <button class="mdc-fab mdc-fab--mini mdc-fab--touch" id="btnAggCita" onclick="actualizar_cita({{item}}, true)">
        <div class="mdc-fab__ripple"></div>
        <span class="material-icons mdc-fab__icon">add</span>
        <div class="mdc-fab__touch"></div>
      </button>
    </div>
  </h3>
  <table class="mdc-data-table__table" aria-label="Dessert calories">
    <thead>
      <tr class="mdc-data-table__header-row">
        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">
          Fecha</th>
        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">
          Hora</th>
        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">
          Zona</th>
        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">
          Editar</th>
        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">
          Eliminar</th>
      </tr>
    </thead>
    {% if citas %}

    <tbody class="mdc-data-table__content">
      {% for item in citas %}
      <tr class="mdc-data-table__row">
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{item.fecha}}</td>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{item.hora}}</td>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{item.zona}}</td>
        
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
          <div class="mdc-touch-target-wrapper">
            <button class="mdc-fab mdc-fab--mini mdc-fab--touch" onclick="actualizar_cita({{item}}, false)">
              <div class="mdc-fab__ripple"></div>
              <span class="material-icons mdc-fab__icon">edit</span>
              <div class="mdc-fab__touch"></div>
            </button>
          </div>
        </td>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
          <div class="mdc-touch-target-wrapper">
            <button class="mdc-fab mdc-fab--mini mdc-fab--touch" onclick="eliminar_cita({{item.id}})">
              <div class="mdc-fab__ripple"></div>
              <span class="material-icons mdc-fab__icon">delete</span>
              <div class="mdc-fab__touch"></div>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
  {% endif %}
  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Citas-->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form name="myForm" action="/actualizar_cita" method="POST">
        <input type="hidden" id="id" name="id">
        <label class="mdc-text-field mdc-text-field--filled">Fecha
          <span class="mdc-text-field__ripple"></span>
          <input class="mdc-text-field__input" type="date" aria-labelledby="my-label-id" id="fecha" name="fecha"
            placeholder="Fecha" required>
          <span class="mdc-line-ripple"></span>
        </label>
        <label class="mdc-text-field mdc-text-field--filled">Hora
          <span class="mdc-text-field__ripple"></span>
          <input class="mdc-text-field__input" type="time" aria-labelledby="my-label-id" id="hora" name="hora"
            placeholder="Hora" required>
          <span class="mdc-line-ripple"></span>
        </label>
        <label class="mdc-text-field mdc-text-field--filled">Zona
          <span class="mdc-text-field__ripple"></span>
          <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" id="zona" name="zona"
            placeholder="Zona" required>
          <span class="mdc-line-ripple"></span>
        </label>
        <div class="mdc-touch-target-wrapper">
          <button class="mdc-fab mdc-fab--mini mdc-fab--touch">
            <div class="mdc-fab__ripple"></div>
            <span class="material-icons mdc-fab__icon">send</span>
            <div class="mdc-fab__touch"></div>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="modalRegistro" class="modal">
    <!-- Registro-->
    <div class="modal-content">
      <span class="close" id="closeRegistro">&times;</span>
      <span id="habeasData" style="display:none">
        <h2>Habeas data</h2>
        <p>A través de la Ley 1581 de 2012 y el Decreto 1377 de 2013, se desarrolla el derecho constitucional que tienen
          todas las personas a conocer, suprimir, actualizar y rectificar todo tipo de datos personales recolectados,
          almacenados o que hayan sido objeto de tratamiento en bases de datos en las entidades del públicas y privadas.

          La Corte Constitucional lo definió como el derecho que otorga la facultad al titular de datos personales de
          exigir de las administradoras de esos datos el acceso, inclusión, exclusión, corrección, adición,
          actualización y certificación de los datos, así como la limitación en las posibilidades de su divulgación,
          publicación o cesión, de conformidad con los principios que regulan el proceso de administración de datos
          personales. Asimismo, ha señalado que este derecho tiene una naturaleza autónoma que lo diferencia de otras
          garantías con las que está en permanente relación, como los derechos a la intimidad y a la información.
          En atención a la mencionada Ley se estableció el Registro Nacional de Bases de Datos - RNBD, el cual es un
          directorio público de las bases de datos con información personal sujetas a tratamiento que operan en el país,
          acorde con lo establecido en la Ley 1581 de 2012.</p>
      </span>
      <span id="terminosYCondiciones" style="display:none">
        <h2>Términos y condiciones</h2>
        <p>Exención de responsabilidad de atención médica.
          El contenido, los productos y los servicios que aquí se ofrecen sirven para informar a los consumidores sobre
          temas médicos y de atención de la salud que pueden afectar su vida cotidiana. Ninguna parte del contenido, los
          productos o los servicios debe considerarse o utilizarse como sustituto del asesoramiento médico, el
          diagnóstico o el tratamiento. Este sitio y sus servicios no constituyen la práctica de tratamiento,
          diagnóstico o asesoramiento sobre atención médica por parte de un médico, personal de enfermería u otro
          profesional. Siempre debes hablar con tu proveedor de atención médica para recibir diagnóstico y tratamiento,
          incluidas tus necesidades médicas específicas. Ninguno de los productos o servicios ofrecidos a través de este
          sitio web representa o garantiza que algún producto o servicio en particular es seguro, apropiado o efectivo
          para ti. Recomendamos a los usuarios solicitar siempre asesoramiento de un médico u otro proveedor de atención
          médica calificado si tienen preguntas sobre afecciones médicas o la salud personal. Si sospechas que padeces
          una enfermedad o un problema de salud, comunícate de inmediato con un profesional de atención médica
          calificado. Si te encuentras en los Colombia y sufres una emergencia médica, llama al 123 o llama para
          pedir asistencia médica de emergencia desde el teléfono más cercano.

          Términos de uso. 
          El uso del Sitio está sujeto a los siguientes términos de uso. Beauty puede modificar estos términos y
          condiciones en cualquier momento, y las modificaciones entrarán en vigencia inmediatamente después de la
          publicación de los términos y condiciones modificados en el Sitio de Beauty. Tú aceptas revisar el
          acuerdo periódicamente para estar al tanto de dichas modificaciones, y tu acceso o uso del servicio
          constituyen la aceptación del acuerdo tal como aparece al momento del acceso o del uso. De vez en cuando, Beauty
          puede ofrecer a los visitantes del sitio web la oportunidad de participar en servicios o funciones
          adicionales a través del Sitio de Beauty. Es posible que tengas que participar en acuerdos o realizar
          autorizaciones adicionales antes de poder acceder a dichos servicios o funciones.</p>
      </span>
      <form name="formRegistro" action="/registrar" method="POST">
        <input type="hidden" id="id" name="id">
        <label class="mdc-text-field mdc-text-field--filled" id="cedulaLabel">Cédula:
          <span class="mdc-text-field__ripple"></span>
          <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" id="cedula" name="cedula"
            placeholder="Cédula">
          <span class="mdc-line-ripple"></span>
        </label>
        <label class="mdc-text-field mdc-text-field--filled" id="nombreLabel">Nombre:
          <span class="mdc-text-field__ripple"></span>
          <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" id="nombre" name="nombre"
            placeholder="Nombre" required>
          <span class="mdc-line-ripple"></span>
        </label>
        <label class="mdc-text-field mdc-text-field--filled" id="apellidosLabel">Apellidos:
          <span class="mdc-text-field__ripple"></span>
          <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" id="apellidos" name="apellidos"
            placeholder="Apellido" required>
          <span class="mdc-line-ripple"></span>
        </label>
        <label class="mdc-text-field mdc-text-field--filled" id="contrasegnaLabel">Contraseña:
          <span class="mdc-text-field__ripple"></span>
          <input class="mdc-text-field__input" type="number" aria-labelledby="my-label-id" id="contrasegna" name="contrasegna"
            placeholder="Contrasena" required>
          <span class="mdc-line-ripple"></span>
        </label>
        <label class="mdc-text-field mdc-text-field--filled" id="celularLabel">Celular:
          <span class="mdc-text-field__ripple"></span>
          <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" id="celular" name="celular"
            placeholder="Celular" required>
          <span class="mdc-line-ripple"></span>
        </label>
        <label class="mdc-text-field mdc-text-field--filled" id="emailLabel">Email:
          <span class="mdc-text-field__ripple"></span>
          <input class="mdc-text-field__input" type="email" aria-labelledby="my-label-id" id="email" name="email"
            placeholder="Email" required>
          <span class="mdc-line-ripple"></span>
        </label>
        <div class="mdc-touch-target-wrapper">
          <button class="mdc-fab mdc-fab--mini mdc-fab--touch" id="botonSubmit" style="display:none">
            <div class="mdc-fab__ripple"></div>
            <span class="material-icons mdc-fab__icon">send</span>
            <div class="mdc-fab__touch"></div>
          </button>
        </div>
      </form>
      <div class="mdc-touch-target-wrapper">
        <button class="mdc-fab mdc-fab--mini mdc-fab--touch" id="botonHabeasData" onclick="verHabeasData()">
          <div class="mdc-fab__ripple"></div>
          <span class="material-icons mdc-fab__icon">send</span>
          <div class="mdc-fab__touch"></div>
        </button>
      </div>
      <div class="mdc-touch-target-wrapper">
        <button class="mdc-fab mdc-fab--mini mdc-fab--touch" id="botonT&C" onclick="verTyC()" style="display:none">
          <div class="mdc-fab__ripple"></div>
          <span class="material-icons mdc-fab__icon">send</span>
          <div class="mdc-fab__touch"></div>
        </button>
      </div>
    </div>
  </div>

  <div id="modalRegistro" class="modal">
    <!-- Registro-->
    <div class="modal-content">
    </div>
  </div>
  <!--Borrado de tablas-->
  <form action="/borrar_cita" method="POST" id="borrarCita" name="borrarCita">
    <input type="hidden" name="id" id="id">
  </form>
</body>

</html>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  var modalRegistro = document.getElementById("modalRegistro");

  // Get the button that opens the modal
  var btn = document.getElementsByClassName("myBtn");
  var btnAggCita = document.getElementById("btnAggCita");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[1];
  var spanCloseRegistro = document.getElementById("closeRegistro")
  // When the user clicks the button, open the modal 
  btn.onclick = function () {
    modal.style.display = "block";
  }

  btnAggCita.onclick = function () {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
    modalRegistro.style.display = "none";
  }

  function registro() {
    modalRegistro.style.display = "block";
  }

  function actualizar_cita(data, isNew) {
    if (!isNew) {
      document.myForm.id.value = data.id;
    }
    document.myForm.fecha.value = data.fecha;
    document.myForm.hora.value = data.hora;
    document.myForm.zona.value = data.zona;
    document.myForm.duracion.value = data.duracion;
    modal.style.display = "block";
  }

  function verHabeasData() {
    document.getElementById("cedulaLabel").style.display = "none";
    document.getElementById("nombreLabel").style.display = "none";
    document.getElementById("apellidosLabel").style.display = "none";
    document.getElementById("contrasegnaLabel").style.display = "none";
    document.getElementById("celularLabel").style.display = "none";
    document.getElementById("emailLabel").style.display = "none";
    document.getElementById("botonHabeasData").style.display = "none";
    document.getElementById("habeasData").style.display = "block";
    document.getElementById("botonT&C").style.display = "block";
  }

  function verTyC() {
    document.getElementById("habeasData").style.display = "none";
    document.getElementById("botonT&C").style.display = "none";
    document.getElementById("terminosYCondiciones").style.display = "block";
    document.getElementById("botonSubmit").style.display = "block";
  }

  function eliminar_cita(id) {
    var form = document.getElementById("borrarCita");
    document.borrarCita.id.value = id;

    form.submit();
  }

  window.onclick = function (event) {
    console.log(event.target);
    if (event.target == modal) {
      modal.style.display = "none";
    }

    if (event.target == modalRegistro) {
      modalRegistro.style.display = "none";
    }
  }
</script>