<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Beauty</title>
</head>
<body>
  <div id="container" class="welcome">
    <header>
        <h1>¡Bienvenidos!</h1>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    </header>
    <nav>
        <ul id="main-nav" class="nav">
              <li><a href="/">Inicio</a> </li>
              <li><a href="/clientes">Clientes</a> 
              <li><a href="/secretarias">Secretarias</a>
        </ul>

    </nav>
    <section id="content" class="name">
         <h1>Beauty </h1>
         <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    </section>
    <footer class="desing">
        <h3>Diseñado por Mogoro 2021</h3>
    </footer>
</div>  
</body>
</html>
